<header class="w-full overflow-x-hidden">
    <div class="h-32 w-full flex justify-between items-center px-4 bg-cyan-950 text-white lg:hidden">
        <button (click)="toggleIsMenuMobile()"
            class="w-10 h-10 rounded-lg bg-zinc-300 flex justify-center items-center flex-col gap-2 cursor-pointer mx-1">
            <div class="border-2 w-8 border-cyan-900 rounded"></div>
            <div class="border-2 w-8 border-cyan-900 rounded"></div>
            <div class="border-2 w-8 border-cyan-900 rounded"></div>
        </button>

        <app-dinamic-card></app-dinamic-card>


        @if (isOpen()) {
        <aside
            class="absolute top-32 left-0 w-full bg-cyan-950 text-white p-4 flex flex-col text-lg gap-4 animate__animated animate__fadeInDown z-50 ">
            <a href="/" [ngClass]="isLoggedIn() ? 'hidden' : 'flex'"
                class="hover:underline  hover:text-cyan-400 delay-100 duration-100">Home</a>
            <a href="/sac" class="hover:underline hover:text-cyan-400 delay-100 duration-100">Atendimento</a>
            <a href="/about" class="hover:underline hover:text-cyan-400 delay-100 duration-100">Sobre Nós</a>
            <a href="/contact" class="hover:underline  hover:text-cyan-400 delay-100 duration-100">Contato</a>
        </aside>
        }
    </div>
    <nav class=" w-full h-32  lg:flex justify-between items-center px-30 bg-cyan-950 text-white hidden">
        <div class="flex  gap-4 items-center ">
            <div class="text-lg font-bold bg-cyan-100 rounded-lg hidden xl:block p-2">
                <img class="w-18" src="assets/logo.png" alt="" srcset="">
            </div>
            <div class="self-end mb-4 ml-3 gap-4 font-bold tracking-wide  justify-center items-center hidden lg:flex">
                <a href="/" [ngClass]="isLoggedIn() ? 'hidden' : 'flex'"
                    class="hover:underline  hover:text-cyan-400 delay-100 duration-100">Home</a>
                <a href="/sac" class="hover:underline hover:text-cyan-400 delay-100 duration-100">Atendimento</a>
                <a href="/transactions" class="hover:underline hover:text-cyan-400 delay-100 duration-100">Sobre Nós</a>
                <a href="/contact" class="hover:underline  hover:text-cyan-400 delay-100 duration-100">Contato</a>
            </div>
        </div>
        <app-dinamic-card></app-dinamic-card>

    </nav>
</header>