<div class="fixed inset-0 z-50 bg-zinc-900/80 backdrop-blur-sm flex justify-center items-center p-4">
    <div class="w-full max-w-md bg-white rounded-2xl shadow-2xl p-4 relative">

        <button (click)="onClose()"
            class="text-slate-400 hover:text-slate-700 p-1 rounded hover:bg-slate-200 absolute top-2 right-2 m-2 border cursor-pointer">
            <fa-icon [icon]="faClose" size="lg"></fa-icon>
        </button>

        @if(!modalSearchSucess() && !confirmTransfer()) {
        <form class="flex flex-col gap-6" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <h2 class="text-lg font-semibold text-cyan-950">Pesquisar PIX</h2>

            <input formControlName="key" type="text" placeholder="email, telefone ou CPF" class="w-full h-10 border border-cyan-600 rounded px-2 text-lg font-mono
                 placeholder:text-zinc-400 focus:outline-none focus:border-cyan-600" />

            @if(error()) {
            <p class="text-red-600 text-sm">Chave não encontrada</p>
            }

            <button type="submit"
                class="mt-2 bg-cyan-700 text-white font-bold py-2 rounded hover:bg-cyan-900 hover:scale-105 transition cursor-pointer">
                Pesquisar
            </button>
        </form>
        }

        @if(modalSearchSucess() && !confirmTransfer()) {
        <div class="flex flex-col gap-4 mt-4">

            <div class="bg-slate-200 rounded p-3 flex flex-col gap-2 mt-6">
                <p><strong>Nome:</strong> {{ accountFound()?.customer?.name }}</p>
                <p><strong>Chave:</strong> {{ accountFound()?.pixKey }}</p>
                <p><strong>CPF:</strong> {{ accountFound()?.customer?.cpf }}</p>
                <p class="bg-slate-300 p-2 rounded mt-2 text-blue-500 font-bold  text-lg">
                    <strong>Saldo:</strong>
                    {{ currentAccount()?.balance | currency:'BRL':'symbol':'1.2-2' }}
                </p>
            </div>

            <form class="flex flex-col gap-2" [formGroup]="dataTransfer">
                <label for="amountDisplay" class="text-lg font-semibold text-cyan-950">Valor</label>

                <input id="amountDisplay" formControlName="amountDisplay"
                    (input)="onAmountInput($any($event.target).value)" placeholder="R$ 0,00" class="w-full h-10 border border-cyan-600 rounded px-2 text-lg font-mono
                   placeholder:text-zinc-400 focus:outline-none focus:border-cyan-600" />
            </form>

            <button (click)="onTransferRequest()" class="w-full h-10 bg-cyan-700 text-white font-medium rounded
                 hover:bg-cyan-600 hover:scale-105 transition cursor-pointer">
                Transferir
            </button>

        </div>
        }

        @if(confirmTransfer()) {
        <div class="flex flex-col gap-4 mt-10">

            <p class="text-center text-lg font-semibold text-cyan-950">
                Confirmar transferência?
            </p>

            <div class="flex justify-around">
                <button (click)="onClose()" class="bg-slate-400 px-4 py-2 rounded text-white font-bold cursor-pointer">
                    Cancelar
                </button>

                <button (click)="onConfirmTransfer()"
                    class="bg-cyan-700 px-4 py-2 rounded text-white font-bold cursor-pointer">
                    Confirmar
                </button>
            </div>

        </div>
        }
        @if(modalTransferSucess()){
        <div 
            class="w-full h-full bg-slate-50 top-0 right-0 absolute flex flex-col justify-center items-center  rounded-md z-50">

            <h2 class="text-emerald-600 text-lg font-semibold italic uppercase">
                Transferência realizada com sucesso!
            </h2>

            <button (click)="onClose()" class="mt-4 bg-cyan-700 text-white px-6 py-2 rounded cursor-pointer">
                Fechar
            </button>

        </div>
    }

    </div>

</div>